services:
  mysql:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: gamel
      MYSQL_DATABASE: otserv
      MYSQL_USER: otserv
      MYSQL_PASSWORD: otserv
  login:
    restart: always
    build:
      context: .
      dockerfile: Dockerfile.login-server
    depends_on:
      - mysql
    environment:
      MYSQL_HOST: mysql
      MYSQL_USER: otserv
      MYSQL_PASSWORD: otserv
      MYSQL_DATABASE: otserv
    expose:
      - 7171
    ports:
      - 7171:7171
  game:
    restart: always
    build:
      context: .
      dockerfile: Dockerfile.game
    depends_on:
      - query-manager
    expose:
      - 7172
    ports:
      - 7172:7172
  query-manager:
    restart: always
    expose:
      - 17778
    environment:
      MYSQL_HOST: mysql
      MYSQL_USER: otserv
      MYSQL_PASSWORD: otserv
      MYSQL_DATABASE: otserv
    depends_on:
      - mysql
    build:
      context: .
      dockerfile: Dockerfile.query-manager
